<div id="slideshow-container">
  <div id="slideshow">
    <div id="slideshow-reel">


      <div class="slide">
        <img src="https://s3.us-west-1.amazonaws.com/modernwanderlust/Home/pano_motorcycle_tioga_small.jpeg" class="carousel-img">
        <div class="caption">
          <ul>
            <li>Tioga Pass, Yosemite NP</li>
            <li>May 2014</li>
          </ul>
        </div>
      </div>


      <div class="slide">
        <img src="https://s3.us-west-1.amazonaws.com/modernwanderlust/Home/pano_half_dome_bridge_small.jpeg" class="carousel-img">
        <div class="caption">
          <ul>
            <li>Half Dome, Yosemite NP</li>
            <li>July 2015</li>
          </ul>
        </div>
      </div>


      <div class="slide">
        <img src="https://s3.us-west-1.amazonaws.com/modernwanderlust/Home/pano_yampa_rafting_small.jpeg" class="carousel-img">
        <div class="caption">
          <ul>
            <li>Yampa River, UT</li>
            <li>July 2017</li>
          </ul>
        </div>
      </div>


      <div class="slide">
        <img src="https://s3.us-west-1.amazonaws.com/modernwanderlust/Home/pano_emerald_bay_small.jpeg" class="carousel-img">
        <div class="caption">
          <ul>
            <li>Emerald Bay, Lake Tahoe CA</li>
            <li>May 2015</li>
          </ul>
        </div>
      </div>


      <div class="slide">
        <img src="http://modernwanderlust.s3.amazonaws.com/posts/Ride%20to%20Capitol%20Reef/20120901%20canyon1.jpg" class="carousel-img">
        <div class="caption">
          <ul>
            <li>Capitol Reef National Park</li>
            <li>September 2012</li>
          </ul>
        </div>
      </div>


      <div class="slide">
        <img src="https://s3.us-west-1.amazonaws.com/modernwanderlust/Home/pano_portland_head_small.jpeg" class="carousel-img">
        <div class="caption">
          <ul>
            <li>Portland Head Light</li>
            <li>September 2012</li>
          </ul>
        </div>
      </div>


      <div class="slide">
        <img src="https://s3.us-west-1.amazonaws.com/modernwanderlust/Home/pano_yampa_view_small.jpeg" class="carousel-img">
        <div class="caption">
          <ul>
            <li>Yampa River, UT</li>
            <li>July 2017</li>
          </ul>
        </div>
      </div>


      <div class="slide">
        <img src="https://s3.us-west-1.amazonaws.com/modernwanderlust/Home/pano_yosemite_hike_small.jpeg" class="carousel-img">
        <div class="caption">
          <ul>
            <li>Tuolumne, Yosemite NP</li>
            <li>July 2016</li>
          </ul>
        </div>
      </div>

    </div>
    <a href="#" id="slideshow-prev"></a>
    <a href="#" id="slideshow-next"></a>
  </div>
  <div id="slideshow-nav-container">
    <div id="slideshow-nav">
      <a href="#" class="nav-item">&#9679;</a>
      <a href="#" class="nav-item">&#9675;</a>
      <a href="#" class="nav-item">&#9675;</a>
      <a href="#" class="nav-item">&#9675;</a>
      <a href="#" class="nav-item">&#9675;</a>
      <a href="#" class="nav-item">&#9675;</a>
      <a href="#" class="nav-item">&#9675;</a>
      <a href="#" class="nav-item">&#9675;</a>
    </div>
  </div>

  <!--

  <div class="slide">
  <a href="#">
  <img src="https://modernwanderlust.s3.amazonaws.com/posts/Yosemite%20Death%20Valley%20Vegas/20120827%20yosemite-tree-small.jpg" class="carousel-img">
</a>
</div> -->
</div>
