<div id="work-preview">
  <h2>Projects</h2>
  <p>
    I build websites for fun and to support the causes and organizations I'm involved with.  Everything I've built is <a href="http://github.com/eriktrautman">open sourced on Github</a> (including this site).
  </p>
  <div class="projects">
    <div class="project">
      <h3>The Odin Project</h3>
      <a href="http://theodinproject.com" title="The Odin Project -- Learn Web Development with Ruby on Rails">
        <img class="project-screenshot" src="https://modernwanderlust.s3.amazonaws.com/Home/home_page_v3_jan_2014_small_square.jpg" title="The Odin Project - The Free Curriculum for Learning Web Development with Ruby on Rails">
      </a>
      <p>
        <a href="http://theodinproject.com" title="The Odin Project">The Odin Project</a> is a free and open source curriculum for anyone around the world to learn web development.  I founded the project and have led its development.
      </p>
    </div>
    <div class="project">
      <h3>Coding School Alumni</h3>
      <a href="http://codingschoolalumni.org" title="The Coding School Alumni Assocation -- A Professional and Social Network for Fulltime Intensive Coding Bootcamp Graduates">
        <img class="project-screenshot" src="https://modernwanderlust.s3.amazonaws.com/Home/csaa_homepage_jan_2014_small_square.jpg">
      </a>
      <p>
        <a href="http://www.codingschoolalumni.org/" title="The Coding School Alumni Association">The Coding School Alumni Association</a> is a social and professional network for graduates of fulltime intensive coding schools like <a href="http://appacademy.io" title="App Academy">App Academy</a>, <a href="http://www.devbootcamp.com" title="Dev Bootcamp">Dev Bootcamp</a>, <a href="http://www.generalassemb.ly" title="General Assembly">General Assembly</a>, <a href="http://www.hackbrightacademy.com" title="Hackbright Academy">Hackbright Academy</a> and <a href="http://www.hackreactor.com" title="Hack Reactor">Hack Reactor</a>.  I founded the organization and have led its development.
      </p>
    </div>
    <div class="project">
      <h3>Rails Workshop</h3>
      <a href="#" title="Ruby on Rails Weekend Workshop">
        <img class="project-screenshot" src="https://modernwanderlust.s3.amazonaws.com/Home/home_page_small_square.jpg" title="Ruby on Rails Weekend Workshop with Erik Trautman and Daniel Kehoe">
      </a>
      <p>
        The Ruby on Rails Weekend Workshop was an intensive workshop designed to take complete beginners to Rails and guide them through deploying an application in a single weekend.  I built the site, organized the workshop and cotaught with Daniel Kehoe (of <a href="http://railsapps.org" title="The Rails Apps Project">RailsApps</a>).
      </p>
    </div>
  </div>
</div>