<div id="about">
  <div class="title">
    <h1>About Me</h1>
  </div>

  <p>
    My name is Erik Trautman and I’m a little bit of a lot of things -- an entrepreneur, developer, marketer, designer, photographer, analyst, data geek, quoter of Super Troopers and lover of all things obscurely nerdy or powerfully artistic.  
  </p>
  <p>
    I spent half a decade as an energy analyst and trader but <%= link_to 'left in 2012', post_path('today-i-quit-my-job') %> to move out west to try and add real value to the world by building things people want and which will make a significant impact in their lives.
  </p>

  <p>
    I’m a geek with a passion for words and a highly competitive athlete in the body of a banged up former wrestler; introspective and philosophical but extroverted among the genuine and the good; an explorer and an adventurer with a burning curiosity about the natural world but the approximate memory of a goldfish. I've ridden my Triumph across each of the lower 48 states... most during <%= link_to "one epic trip", posts_path(:tag_filter => "Motorcycle Trip 2012") %> before my move out to San Francisco.
  </p>

  <p>
    This blog is designed to be a creative journey into the world of tech startups. It tracks my own path of enlightenment and experience along the way but it’s really meant to highlight that middle ground between the technical and creative that has been the foundation of so many great enterprises.
  </p>
  <p>
    Most of all, I will be seeking out the pulse of innovation in the hopes of contributing to its onward flow. Come along for the ride... you’ve caught me at a very interesting time in my life.</p>

</div>

<hr>
<%= render "shared/recent_posts" %>