<div id="about">
  <div class="title">
    <h1>About Me</h1>
  </div>

  <img class = "profile-photo" src = "http://s3.amazonaws.com/viking_education/home/people/erik_trautman.jpg"  >

  <p>
    My name is Erik Trautman and I’m an entrepreneur, developer, dreamer, marketer, designer, photographer, analyst, data geek, quoter of Super Troopers and lover of all things obscurely nerdy or powerfully artistic.  
  </p>

  <p>
    I’m a geek with a passion for words and a highly competitive athlete in the body of a banged up former wrestler; introspective and philosophical but extroverted among the genuine and the good; an explorer and an adventurer with a burning curiosity about the natural world but the approximate memory of a goldfish. I've ridden my Triumph across each of the lower 48 states... most during <%= link_to "one epic trip", posts_path(:tag_filter => "Motorcycle Trip 2012", :order => "chron") %> before my move out to San Francisco.  I am usually found hiking around the Bay Area, cycling for my life through traffic, or trying something completely new and random because Reasons.
  </p>

  <p>
    I want to add real value to the world by building things people want and which will make a significant impact in their lives.  I believe we have the greatest capacity to impact future generations through improvements in education and technology so that's the focus of my efforts.
  </p>

  <p>
    This blog is meant to track my humble path of enlightenment and experience along the way.  I'm hoping to highlight the middle ground between the technical, creative and good which has been the foundation of history's most impactful enterprises.  Come along for the ride... you’ve caught me at a very interesting time in my life.
  </p>

</div>

<hr>
<%= render "shared/recent_posts" %>