<div id="contact">
  <div class="title">
    <h1>Contact</h1>
  </div>

  <p>
    I'm always open to hearing new ideas and I love meeting good people.  Reach out if you'd like to collaborate on an open source project, drink a craft beer, watch a Patriots game, find a mountain to hike or just geek out in general.
  </p>

  <ul class="contact-methods">
    <li>
      <a href="http://github.com/eriktrautman">Github</a>
    </li>
    <li>
      <a href="http://www.facebook.com/profile.php?id=605114">Facebook</a>
    </li>
    <li>
      <a href="http://twitter.com/#!/ErikTrautman">Twitter</a>
    </li>
    <li>
      <a href="http://www.linkedin.com/pub/erik-trautman/39/3a3/3b9">LinkedIn</a>
    </li>
  </ul>

  <p>...Or just do it the old fashioned way and email me at modernwanderlust [at] gmail [dot] com.</p>

</div>

<hr>
<%= render "shared/recent_posts" %>