<h2>Contact</h2>

<p>I am always open to hearing new ideas and I love meeting good people.  </p>
<p>Look me up:</p>


<p><a href="http://www.facebook.com/profile.php?id=605114">Facebook</a></p>
<p><a href="http://twitter.com/#!/ErikTrautman">Twitter</a></p>
<p><a href="http://www.linkedin.com/pub/erik-trautman/39/3a3/3b9">LinkedIn</a></p>
<p><a href="http://news.ycombinator.com/user?id=eriktrautman">Hacker News</a></p>

<p>...Or just do it the old fashioned way and email me at modernwanderlust [at] gmail [dot] com.</p>