<div id="home-page">
  <div class="container">
    
    <div id="headline">
      <h1>
        From the Mind of Erik Trautman
      </h1>
      <h2>
        A healthy blend of startups, code and creativity.
      </h2>
    </div>

    <div id="top-content">
      <div id="slideshow-container">
        <div id="slideshow">
          <div id="slideshow-reel">
            <div class="slide">
              <a href="#">
                <img src="http://modernwanderlust.s3.amazonaws.com/posts/The%20Tetons/20120812%20teton-triumph.jpg" class="carousel-img">
                <div class="caption">
                  <ul>
                    <li>Grand Tetons National Park</li>
                    <li>August 2012</li>
                    <li>24mm &nbsp; f11 &nbsp; 1/800s &nbsp; ISO800</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="slide">
              <a href="#">
                <img src="https://modernwanderlust.s3.amazonaws.com/posts/Arches%20and%20Canyonlands%20National%20Parks/20120903%20night-arch-small.jpg" class="carousel-img">
                <div class="caption">
                  <ul>
                    <li>Arches National Park</li>
                    <li>September 2012</li>
                    <li>35mm &nbsp; f2.8 &nbsp; 5s &nbsp; ISO6400</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="slide">
              <a href="#">
                <img src="https://modernwanderlust.s3.amazonaws.com/posts/New%20England%20and%20Upstate%20NY/20120927%20lighthouse-small.jpg" class="carousel-img">
                <div class="caption">
                  <ul>
                    <li>Portland Head Light</li>
                    <li>September 2012</li>
                    <li>24mm &nbsp; f20 &nbsp; 1/60s &nbsp; ISO100</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="slide">
              <a href="#">
                <img src="http://modernwanderlust.s3.amazonaws.com/posts/Ride%20to%20Capitol%20Reef/20120901%20canyon1.jpg" class="carousel-img">
                <div class="caption">
                  <ul>
                    <li>Capitol Reef National Park</li>
                    <li>September 2012</li>
                    <li>24mm &nbsp; f16 &nbsp; 1/100s &nbsp; ISO100</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="slide">
              <a href="#">
                <img src="http://modernwanderlust.s3.amazonaws.com/posts/Glacier%20National%20Park/20120816%20glacier-lake.jpg" class="carousel-img">
                <div class="caption">
                  <ul>
                    <li>Glacier National Park</li>
                    <li>August 2012</li>
                    <li>24mm &nbsp; f16 &nbsp; 1/100s &nbsp; ISO200</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="slide">
              <a href="#">
                <img src="http://modernwanderlust.s3.amazonaws.com/posts/Sturgis/20120807%20saloon-art.jpg" class="carousel-img">
                <div class="caption">
                  <ul>
                    <li>Sturgis Motorcycle Rally</li>
                    <li>August 2012</li>
                    <li>4.28mm &nbsp; f2.4 &nbsp; 1/3700s &nbsp; ISO64</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="slide">
              <a href="#">
                <img src="http://modernwanderlust.s3.amazonaws.com/posts/Appalachia%20Again/20120923%20pittsburgh-pano.jpg" class="carousel-img">
                <div class="caption">
                  <ul>
                    <li>Pittsburgh, PA</li>
                    <li>September 2012</li>
                    <li>24mm &nbsp; f16 &nbsp; 30s &nbsp; ISO100</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="slide">
              <a href="#">
                <img src="http://modernwanderlust.s3.amazonaws.com/posts/New%20England%20and%20Upstate%20NY/20121002%20bike.jpg" class="carousel-img">
                <div class="caption">
                  <ul>
                    <li>White Mountains, NH</li>
                    <li>October 2012</li>
                    <li>24mm &nbsp; f6.3 &nbsp; 1/50s &nbsp; ISO200</li>
                  </ul>
                </div>
              </a>
            </div>
            
          </div>
          <a href="#" id="slideshow-prev"></a>
          <a href="#" id="slideshow-next"></a>
        </div>
        <div id="slideshow-nav-container">
          <div id="slideshow-nav">
            <a href="#" class="nav-item">&#9679;</a>
            <a href="#" class="nav-item">&#9675;</a>
            <a href="#" class="nav-item">&#9675;</a>
            <a href="#" class="nav-item">&#9675;</a>
            <a href="#" class="nav-item">&#9675;</a>
            <a href="#" class="nav-item">&#9675;</a>
            <a href="#" class="nav-item">&#9675;</a>
            <a href="#" class="nav-item">&#9675;</a>
          </div>
        </div>

            <!-- <div class="slide">
              <a href="#">
                <img src="https://modernwanderlust.s3.amazonaws.com/posts/Yosemite%20Death%20Valley%20Vegas/20120827%20yosemite-tree-small.jpg" class="carousel-img">
              </a>
            </div> -->
      </div>
      <div id="main-description">
        <p>
          Hi! My name is Erik Trautman and I live at the intersection of big ideas and rigorous execution.  
        </p>
        <p>   
          I hike a lot, take tons of photos, and consume knowledge like it's my job.  I'm interested in how the lessons learned in the consumer web can be used to transform online education and how the arc of technology can drive improvements in health and happiness via the quantified self.
        </p>
        <p>
          I'm currently building <a href="http://theodinproject.com" title="The Odin Project">The Odin Project</a> to provide a scalable solution for people around the world to realize their dreams of building great web applications.  
        </p>
        <p>
          I blog regularly and both my artistic and professional portfolios can be viewed below.
        </p>
        <div class="links">
          <a href="<%= blog_path %>" title="Blog">Blog</a>
          <a href="#" title="Photography">Photography</a>
          <a href="#" title="Portfolio">Portfolio</a>
        </div>
      </div>
    </div>

    <hr>

    <div id="blog-preview">
      <h2>Writing</h2>
      <p>
        I blog regularly about the wide range of topics that interest me, from business and startups and product management to personal development and travel.
      </p>
      <div class="post-preview">
        <%= render :partial => "posts/post", :locals => { :post => Post.last, :show => false } %>
      </div>
    </div>

    <div id="work-preview">
      <h2>Projects</h2>
      <p>
        I build websites for fun and to support the causes and organizations I'm involved with.  Everything I've built is <a href="http://github.com/eriktrautman">open sourced on Github</a> (including this site).
      </p>
      <div class="projects">
        <div class="project">
          <h3>The Odin Project</h3>
          <a href="http://theodinproject.com" title="The Odin Project -- Learn Web Development with Ruby on Rails">
            <img class="project-screenshot" src="https://modernwanderlust.s3.amazonaws.com/Home/home_page_v3_jan_2014_small_square.jpg" title="The Odin Project - The Free Curriculum for Learning Web Development with Ruby on Rails">
          </a>
          <p>
            <a href="http://theodinproject.com" title="The Odin Project">The Odin Project</a> is a free and open source curriculum for anyone around the world to learn web development.  I founded the project and have led its development.
          </p>
        </div>
        <div class="project">
          <h3>Coding School Alumni</h3>
          <a href="http://codingschoolalumni.org" title="The Coding School Alumni Assocation -- A Professional and Social Network for Fulltime Intensive Coding Bootcamp Graduates">
            <img class="project-screenshot" src="https://modernwanderlust.s3.amazonaws.com/Home/csaa_homepage_jan_2014_small_square.jpg">
          </a>
          <p>
            <a href="http://www.codingschoolalumni.org/" title="The Coding School Alumni Association">The Coding School Alumni Association</a> is a social and professional network for graduates of fulltime intensive coding schools like <a href="http://appacademy.io" title="App Academy">App Academy</a>, <a href="http://www.devbootcamp.com" title="Dev Bootcamp">Dev Bootcamp</a>, <a href="http://www.generalassemb.ly" title="General Assembly">General Assembly</a>, <a href="http://www.hackbrightacademy.com" title="Hackbright Academy">Hackbright Academy</a> and <a href="http://www.hackreactor.com" title="Hack Reactor">Hack Reactor</a>.  I founded the organization and have led its development.
          </p>
        </div>
        <div class="project">
          <h3>Rails Workshop</h3>
          <a href="#" title="Ruby on Rails Weekend Workshop">
            <img class="project-screenshot" src="https://modernwanderlust.s3.amazonaws.com/Home/home_page_small_square.jpg" title="Ruby on Rails Weekend Workshop with Erik Trautman and Daniel Kehoe">
          </a>
          <p>
            The Ruby on Rails Weekend Workshop was an intensive workshop designed to take complete beginners to Rails and guide them through deploying an application in a single weekend.  I built the site, organized the workshop and cotaught with Daniel Kehoe (of <a href="http://railsapps.org" title="The Rails Apps Project">RailsApps</a>).
          </p>
        </div>
      </div>
    </div>

    <h2 class="thanks">
      Thanks for stopping by!
    </h2>

  </div>
</div>

<script>
  $(function() {
    console.log("HIHIHI");
    carousel = $("#carousel");
    // carousel_width = 0;
    // $(".slide").each(function(i,img){
    //   width = $(img).width();
    //   console.log($(img));
    //   console.log(width);
    //   carousel_width += width+5;
    // });
    // carousel.width(carousel_width);
    // console.log(carousel_width);
    // film_roll = new FilmRoll({
    //      container: '#film_roll',
    //      prev: '#left_button_id',
    //      next: '#right_button_id',
    //      height: 400,
    //      // start_height: 400px;
    //    });
  })
</script>
