<div id="home-page">


  <%= render partial: "static_pages/slideshow" %>


  <div id = "top-box">

    <p>
      Trying to bind a Gordian Knot of passions<br>into a single life well-lived.
    </p>

    <div class = "image-wrapper">

      <%= image_tag "https://s3.us-west-1.amazonaws.com/modernwanderlust/Home/knot.png" %>

    </div>

  </div>

</div>


<script>
  $(function() {
    carousel = $("#carousel");
  })
</script>
