<div id="home-page">
  <div class="container">
    
    <div id="headline">
      <h1>
        Exploration and Edu-preneurship
      </h1>
    </div>

    <div id="top-content">
      <div id="slideshow-container">
        <div id="slideshow">
          <div id="slideshow-reel">
            <div class="slide">
              <a href="#">
                <img src="http://modernwanderlust.s3.amazonaws.com/posts/The%20Tetons/20120812%20teton-triumph.jpg" class="carousel-img">
                <div class="caption">
                  <ul>
                    <li>Grand Tetons National Park</li>
                    <li>August 2012</li>
                    <li>24mm &nbsp; f11 &nbsp; 1/800s &nbsp; ISO800</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="slide">
              <a href="#">
                <img src="https://modernwanderlust.s3.amazonaws.com/posts/Arches%20and%20Canyonlands%20National%20Parks/20120903%20night-arch-small.jpg" class="carousel-img">
                <div class="caption">
                  <ul>
                    <li>Arches National Park</li>
                    <li>September 2012</li>
                    <li>35mm &nbsp; f2.8 &nbsp; 5s &nbsp; ISO6400</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="slide">
              <a href="#">
                <img src="https://modernwanderlust.s3.amazonaws.com/posts/New%20England%20and%20Upstate%20NY/20120927%20lighthouse-small.jpg" class="carousel-img">
                <div class="caption">
                  <ul>
                    <li>Portland Head Light</li>
                    <li>September 2012</li>
                    <li>24mm &nbsp; f20 &nbsp; 1/60s &nbsp; ISO100</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="slide">
              <a href="#">
                <img src="http://modernwanderlust.s3.amazonaws.com/posts/Ride%20to%20Capitol%20Reef/20120901%20canyon1.jpg" class="carousel-img">
                <div class="caption">
                  <ul>
                    <li>Capitol Reef National Park</li>
                    <li>September 2012</li>
                    <li>24mm &nbsp; f16 &nbsp; 1/100s &nbsp; ISO100</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="slide">
              <a href="#">
                <img src="http://modernwanderlust.s3.amazonaws.com/posts/Glacier%20National%20Park/20120816%20glacier-lake.jpg" class="carousel-img">
                <div class="caption">
                  <ul>
                    <li>Glacier National Park</li>
                    <li>August 2012</li>
                    <li>24mm &nbsp; f16 &nbsp; 1/100s &nbsp; ISO200</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="slide">
              <a href="#">
                <img src="http://modernwanderlust.s3.amazonaws.com/posts/Sturgis/20120807%20saloon-art.jpg" class="carousel-img">
                <div class="caption">
                  <ul>
                    <li>Sturgis Motorcycle Rally</li>
                    <li>August 2012</li>
                    <li>4.28mm &nbsp; f2.4 &nbsp; 1/3700s &nbsp; ISO64</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="slide">
              <a href="#">
                <img src="http://modernwanderlust.s3.amazonaws.com/posts/Appalachia%20Again/20120923%20pittsburgh-pano.jpg" class="carousel-img">
                <div class="caption">
                  <ul>
                    <li>Pittsburgh, PA</li>
                    <li>September 2012</li>
                    <li>24mm &nbsp; f16 &nbsp; 30s &nbsp; ISO100</li>
                  </ul>
                </div>
              </a>
            </div>
            <div class="slide">
              <a href="#">
                <img src="http://modernwanderlust.s3.amazonaws.com/posts/New%20England%20and%20Upstate%20NY/20121002%20bike.jpg" class="carousel-img">
                <div class="caption">
                  <ul>
                    <li>White Mountains, NH</li>
                    <li>October 2012</li>
                    <li>24mm &nbsp; f6.3 &nbsp; 1/50s &nbsp; ISO200</li>
                  </ul>
                </div>
              </a>
            </div>
            
          </div>
          <a href="#" id="slideshow-prev"></a>
          <a href="#" id="slideshow-next"></a>
        </div>
        <div id="slideshow-nav-container">
          <div id="slideshow-nav">
            <a href="#" class="nav-item">&#9679;</a>
            <a href="#" class="nav-item">&#9675;</a>
            <a href="#" class="nav-item">&#9675;</a>
            <a href="#" class="nav-item">&#9675;</a>
            <a href="#" class="nav-item">&#9675;</a>
            <a href="#" class="nav-item">&#9675;</a>
            <a href="#" class="nav-item">&#9675;</a>
            <a href="#" class="nav-item">&#9675;</a>
          </div>
        </div>

            <!-- <div class="slide">
              <a href="#">
                <img src="https://modernwanderlust.s3.amazonaws.com/posts/Yosemite%20Death%20Valley%20Vegas/20120827%20yosemite-tree-small.jpg" class="carousel-img">
              </a>
            </div> -->
      </div>
      <div id="main-description">
        <p>
          My name is Erik Trautman and I'm working to transform online education by leveraging the power of high-intensity teaching with small groups in a way that's never been done before in the hopes of achieving outcomes that haven't been seen before.
        </p>
        <p>
          I founded <a href="http://www.vikingcodeschool.com">Viking Code School</a>, the first fully online coding bootcamp that is 100% accountable to student outcomes.  This follows my work on <a href="http://theodinproject.com" title="The Odin Project">The Odin Project</a>, a free and open-source curriculum for learning web development.  
        </p>

      </div>
    </div>

    <%# render :partial => "blog_preview" %>
    <%# render :partial => "work_preview" %>


<!--     <h2 class="thanks">
      Thanks for stopping by!
    </h2> -->


  </div>
</div>

<script>
  $(function() {
    carousel = $("#carousel");
  })
</script>
