<div id="home-page">


  <%= render partial: "static_pages/slideshow" %>


  <div id = "top-box">

    <p class = "description">
      Trying to bind a Gordian Knot of passions<br>into a single life well-lived.
    </p>

    <div class = "image-wrapper">

      <%= image_tag "https://s3-us-west-1.amazonaws.com/modernwanderlust/ckeditor/pictures/224/content/tree_logo.png" %>

    </div>

  </div>

</div>


<script>
  $(function() {
    carousel = $("#carousel");
  })
</script>
