<div id="home-page">


<%= render partial: "static_pages/slideshow" %>


<div id="main-description">
  <div class = "container">
    <p>
      I founded the <a href = "http://www.vikingcodeschool.com"> Viking Code School.</a>
    </p>
    <p>
      I created the <a href = "http://www.theodinproject.com"> The Odin Project.</a>
    </p>
    <p>
      I write about <a href = "/blog">entrepreneurship, product and development.</a>
    </p>
    <p>
      I write about <a href = "/blog">adventures and creative things.</a>
    </p>
    <p>
      I take <a href = "/"> lots of pictures.</a>
    </p>
    <p>
      <a href = "/contact">Say hi.</a>
    </p>

  </div>
</div>


    <div id="top-content">




  </div>
</div>


<script>
  $(function() {
    carousel = $("#carousel");
  })
</script>
