<div class="archive-links">
  <h2>By Date</h2>
  <ul>
    <% @archives.keys.sort.reverse.each do |date| %>
      <%= link_to writing_path(:filter_month => date.strftime('%m'), :filter_year => date.strftime('%Y')) do %>
        <li>  
          <div class="count">
             <%= @archives[date] %>
          </div>
          <div class="name">
            <%= date.strftime('%B %Y') %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>