<hr>
<div id="mc_embed_signup">
  <form action="https://eriktrautman.us18.list-manage.com/subscribe/post?u=bb893a210c9a8674f6f0c372c&amp;id=1aeb8490a9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">

      <div class="mc-field-group">
      	<label for="mce-EMAIL">
          <h3>
            Receive new posts directly to your inbox
          </h3>
        </label>
    	   <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      </div>

      <input type="hidden" value="<%= request.original_url %>" name = "REF_URL" id = "mce-REF_URL" class = " url" >

      <%# prevent bot signups %>
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_bb893a210c9a8674f6f0c372c_1aeb8490a9" tabindex="-1" value="">
      </div>

      <div class="clear">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
      </div>

      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
    </div>
  </form>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script type='text/javascript'>
    (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='REF_URL';ftypes[1]='url';}(jQuery));var $mcj = jQuery.noConflict(true);
  </script>
</div>
