<div id = "footer-spacer" ></div>

<div id = "footer" >
  Erik Trautman writes about entrepreneurship, business strategy and product development with artificial intelligence and crypto.  Plus a lot more.
</div>
