<footer>
  <div id = "footer-spacer" ></div>

  <div id = "footer" >
    Erik Trautman writes about entrepreneurship, business strategy and product development with artificial intelligence and crypto plus a whole lot more.
  </div>
</footer>
