<div id="footer">
  Erik Trautman is the founder of <a href="http://www.vikingcodeschool.com">Viking Code School</a>, the premier program for learning web development online<br>He writes about startups, web design, development, education, and creativity
</div>