<div class="recent-posts">
  <h2>Recent Posts</h2>
  <div class="post-preview-wrapper">
    <% Post.most_recent(6).each do |post| %>
      <%= render partial: "shared/post_preview_mini", locals: {post: post} %>
    <% end %>
  </div>
  <div id="clearfix"></div>
</div>
