<div class = "container">

  <div id = "titlebar">

    <h1 class = "site-title">
      Erik Trautman
    </h1>

    <h2>
      Entrepreneurship, Business Strategy and Product Development in the Age of AI
    </h2>
  </div>

</div>
