<div class = "container">

  <div id = "titlebar">
    <%= link_to root_path do %>
      <div class = "titlebar-seal" >
        <%= image_tag "https://s3-us-west-1.amazonaws.com/modernwanderlust/ckeditor/pictures/224/content/tree_logo.png", size: "64" %>
      </div>

      <h1 class = "site-title">
        Erik Trautman
      </h1>
    <% end %>

    <h2>
      Entrepreneurship, business strategy and product development with AI and crypto
    </h2>


  </div>

</div>
