<h1>Modern Wanderlust</h1>
<h2>Sitting still is no longer a virtue</h2>
<hr>
<h3>The happy intersection of startups, web design and development... with a healthy dose of random and a touch of creativity</h3>
<hr>