<div id="titlebar">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1>Modern Wanderlust</h1>
      <!-- <h2>Sitting still is no longer a virtue</h2> -->
      <%= render :partial => "shared/tagline" %>
      <hr>
    </div>
  </div>
</div>