<div id = "topnav">

  <div class = "container">

    <ul>

      <%= link_to posts_path  do %>
        <li>
          Blog
        </li>
      <% end %>

      <% if @blog == true %>
      <% end %>

      <%= link_to archives_path  do %>
        <li>
            Archive
          </li>
        <% end %>

        <%= link_to about_path  do %>
          <li>
          About
        </li>
      <% end %>

      <%= link_to contact_path  do %>
        <li>
          Contact
        </li>
      <% end %>

    </ul>


  </div>
</div>


<div id = "topnav-spacer"></div>
