<div id="archives">
  <div class = "page-title-container">
    <h1 class="page-title">Archive of Posts</h1>
  </div>

  <p>
    The 2012 20k mile motorcycle trip posts can be found <%= link_to "here", posts_path(:tag_filter => "Motorcycle Trip 2012", :order => "chron") %>.
  </p>
  <p>
    The 2018 World Motorcycle Trip posts can be found <%= link_to "here", posts_path(:tag_filter => "World Moto Trip 2018", :order => "chron") %>.
  </p>

  <div class="archive-category">
    <%= render :partial => "shared/tags" %>
  </div>

  <div class="archive-category">
    <%= render :partial => "shared/archives" %>
  </div>

  <div class="clearfix"></div>
</div>
