<div id="prev-next">
  <% unless @prev.empty? %>
    <span class="prev">
      <%= link_to "&laquo; Previous".html_safe, @prev[0] %>
    </span>
  <% else %>
    <span class="prev disabled">
      &laquo; Previous
    </span>
  <% end %>
  
  <% unless @next.empty? %>
    <span class="next">
      <%= link_to "Next &raquo;".html_safe, @next[0], :class => "right" %>
    </span>
  <% else %>
    <span class="next disabled right">
      Next &raquo;
    </span>
  <% end %>

  <hr>

</div>
<%= render :partial => @post, :locals => { :show => true } %>