
/* Grayscale */
$off_white: #eee;
$vlight_gray: #ccc;
$light_gray: #999;
$mid_gray: #666;
$dark_gray: #444;
$vdark_gray: #222;
$text_gray: #222;
$code_bg_gray: #f8f8f8;
$code_text_gray: $mid_gray;

$link_color: #2ba6cb;
$link_hover_color: #2284a1;
$link_active_color: #2284a1;
$link_visited_color: #2ba6cb;

$button_color: #00b3e6;
$button_hover_color: #00b3e6;
$button_text_color: white;

$background_color: #ffffff; //#fcfdfa;
$text_color: #333;
$arrow_color: #ccc;
$arrow_highlight_color: #888;
$arrow_disabled_color: #f5f5f5;
