
/* Grayscale */
$vlight_gray: #ccc;
$light_gray: #999;
$mid_gray: #666;
$dark_gray: #444;
$text_gray: #222;
$code_bg_gray: #f8f8f8;
$code_text_gray: $mid_gray;

$background_color: #fcfdfa;
$text_color: #444;
$arrow_color: #ccc;
$arrow_highlight_color: #888;
$arrow_disabled_color: #f5f5f5;