// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";
@import "mixins";
@import "variables";

#post-pages{

  .container{
    max-width: 960px;
    margin: auto;
  }



  .post{

    margin: 4em auto 4em auto;
    position: relative;
    max-width: $text_box_width;
    font-family: $blog_font_family;
    font-size: $font_size_base;

    // *********************  General Post Styles *******************************

    p+h2, p+h3, p+h4, p+h5, ul+h2, ul+h3, ul+h4, ul+h5, ol+h2, ol+h3, ol+h4, ol+h5{
      margin-top: 1.5em;
    }

    h1>a, h2>a, h3>a, h4>a, h5>a, h6>a {
      color: $text_color;
    }

    h1{
      // font-weight: 400;
      font-size: 1.8em; //3.25em;
      line-height: 1.25em;
      font-weight: bold;
      margin: 1em 0;
    }
    h2{
      font-size: 1.65em; //2.5em;
      line-height: 1.5em;
      font-weight: 500;
      margin: 1em 0;
    }
    h3{
      font-size: 1.5em; //2em;
      line-height: 1.5em;
      font-weight: 400;
      margin: 1em 0;
    }
    h4{
      font-size: 1.25em; //1.75em;
      line-height: 1.5em;
      font-weight: 400;
      margin: 1em 0;
    }
    p{
      font-size: 1em; // set the <li>'s too if you change this!
      line-height: $line_height_base;
      font-weight: $font_weight_base;
      margin: 1.5em 0;
    }


    ol,ul{
      padding-left: 2em;
    }
    li{
      margin: .5em 0;
      font-size: $font_size_base;
      line-height: $line_height_base;
    }
    ol{
      list-style: decimal;
    }
    ul{
      list-style: disc;
    }

    a{
      color: $link_color;
      &:hover{
        color: $link_hover_color;
      }
    }
    pre{
      font-size: 1.25em;
      font-weight: 100;
      font-family: $code_font_family;
      background-color: $code_bg_gray;
      color: $code_text_gray;
      margin: 1em inherit;
      padding: 8px 8px;
      border: 1px solid #ddd;
      white-space: pre;
      word-wrap: normal;
      overflow: auto;
    }
    code{
      font-size: .9em;
      color: $code_text_gray;
      font-family: $code_font_family;
      background-color: $code_bg_gray;
      border: 1px solid #ddd;
      padding: 2px 4px;
      white-space: pre;
    }
    pre > code{
      font-size: 1em;
      line-height: 1.4em;
      border: none;
    }




    // ******* IMAGES *******
    img{
      padding: 5px 10px;
      max-width: 100%;  // PROBLEM: In-post images can get warped due to inline styles!
      // height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      &.center{
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
      &.right{
        float: right;
      }
      &.left{
        float: left;
      }
      &.border-thick-black{
        border: 5px solid black;
        padding: 0px;
      }
    }

    .post-banner {
      $extra_width: .3;
      width: $text_box_width*(1 + $extra_width)+2;
      max-width: (100% + $extra_width*100%);
      // height: $text_box_width*.75;  // so DOM loads without jumps waiting for img
      margin-left: -$text_box_width*($extra_width/2);
      margin-right: -$text_box_width*($extra_width/2);

      @media screen and (max-width: $text_box_width*(1 + $extra_width)+2) {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
      }

      margin-top: 1.5em;
      margin-bottom: 1.5em;
      // max-height: 400px;
      overflow: hidden;
      display: flex;
      align-items: center;

      img{
        display: block;
        padding: 0;
        // max-width: $text_box_width*(1 + $extra_width);
        max-height: 480px;
        border: 1px solid #ccc;
        margin: 0 auto;
      }
    }

    .post-banner-index {
      width: 100vw; //$text_box_width - 4px;
      // height: 34vw; //214px;  // so DOM loads without jumps waiting for img
      max-width: 100%;
      margin: 1.5em 0;
      img{
        padding: 0;
        border: 1px solid #ccc;
      }
    }

    figcaption{
      display: block;
      text-align: center; // Else it sticks out from smaller images
      font-style: italic;
      margin-top: -2em;
      color: #888;
      font-size: .8em;
    }


    // ********* BREAKS ********
    hr{
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #eee;
      margin: .5em 0;
      padding: 0;
    }
    .clearfix{
      clear: both;
    }
    #clearfix{
      clear: both;
    }


    //******** Sections **********
    .post-title-wrapper{
      margin: 0 auto 1.5em auto;
      // text-align: center;
      position: relative;
      h1{
        display: inline-block;
        margin: 0;
        position: relative;
      }
      a{
        text-decoration: none;
      }
    }

    .post-date{
      color: #aaa;
      font-size: 1em;
      line-height: 1.5em;
      margin: 0.5em auto 0;
      text-align: left;
      font-style: italic;
    }

    .post-body{
      max-width: 52em;
      margin: 1.5em auto;
    }

    p.read-more{
      text-align: center;
    }


    .tags{
      margin: 2.5em 0;
      font-style: italic;
      font-size: 1em;
    }
  }


  // ******* ARROWS ************

  .arrow{
    font-size: 2rem;
    text-align: center;
    width: 1.25em;
    height: 1.25em;
    border: .2em solid $arrow_color;
    position: absolute;
    top: 0.5em;
    @include border-radius(1em);
  }


  .hover-arrow{
    &:hover{
      border-color: $arrow_highlight_color;
      cursor: pointer;
      .inner-arrow{
        border-color: $arrow_highlight_color;
      }
    }
  }


  .disabled-arrow{
    border-color: $arrow_disabled_color!important;
    .inner-arrow{
      border-color: $arrow_disabled_color!important;
    }
  }


  .prev-arrow{
    left: -3em;
  }


  .next-arrow{
    right: -3em;
  }


  .inner-arrow{
    height: .5em;
    width: .5em;
    border-left: .2em solid $arrow_color;
    border-top: .2em solid $arrow_color;
    position: absolute;
    top: .25em;
  }


  .inner-prev-arrow{
    @include rotate(-45deg);
    left: .4em;
  }


  .inner-next-arrow{
    @include rotate(135deg);
    right: .4em;
  }


}

// *****************    END POST-PAGES ID            ***************************************



.recent-posts {

  width: $text_box_width;
  max-width: 100%;
  margin: 4em auto;

  h1 {
    font-size: 16px;
    font-weight: bold;
    margin: .5em 0 .25em;

    a {
      color: $text_color;
      text-decoration: none;

      &:hover {
        color: $link_hover_color;
      }
    }
  }

  h2 {
    font-size: 2em;
    margin: 0;
  }

  .post-preview-wrapper {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .post-preview-mini {
    width: ($text_box_width - 150)/3;
    margin: 25px 0px;
  }

  .square-preview-wrapper {
    height: 200px;
    width: 200px;
  }

  .post-preview-date{
    color: #aaa;
    font-size: .85em;
    line-height: 1.5em;
    margin: 0em auto 0;
    text-align: left;
    font-style: italic;
  }


}
