/*@import "twitter/bootstrap";*/

html{
  font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, sans-serif !important;
  color: #333 !important;
  font-weight: 300 !important;
  line-height: 125% !important;
}

body{
  font-size: 100%;
  line-height: 1.5em;
}
p{
  font-size: 1em;
}
h4{
  font-size: 1.5em;
}
h3{
  font-size: 2.25em;
}
h2{
  font-size: 3em;
}
h1{
  font-size: 3.75em;
}

img{
  max-width: 100%;
  height: auto;
}

#titlebar{
  h1{
    font-size: 46px;
    font-weight: bold;
    font-family: 'Adobe Garamond Pro', Garamond, Palatino, 'Palatino Linotype', serif;
    color: #111;
    margin-top: 30px;
    
  }
  h2{
    font-size: 21px;
    font-weight: bold;
    font-family: 'Adobe Garamond Pro', Garamond, Palatino, 'Palatino Linotype', serif;
    color: #111;
  }
}

#tagline{
  h3{
    font-size: 18px;
    font-style: italic;
    font-weight: 200;
    margin-top: 0px;
    color: #555;
  }
}

#topnav{
  .nav-buttons{
  margin-top: -15px;
  margin-bottom: -15px;
  height: 35px
    
  }
  a{
    text-decoration: none;
    color: #333;
    margin: 0px;
    width: 0px;
  }
}

#content{
  .tags{
    margin-top: 10px;
  }
}

#sidebar{
  /*padding-left: 200px;*/
  #photo-box{
    .main-photo{
      padding: 20px;
    }
  }
}

#pagination_area{
  text-align: center;
}

#footer{
  padding-bottom: 20px;
  .align-right{
    padding-right: 60px;
  }
}

.post{
  h2{
    font-size: 18px;
    font-weight: bold;
  }
  h4{
    color: #aaa;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
  }
  .post-body{
    font-size: 15px;
    line-height: 24px;
    margin: 10px auto;
  }
  img{
    padding: 5px 10px;
  }
  img.center{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  img.right{
    float: right;
  }
  img.left{
    float: left;
  }
  img.border-thick-black{
    border: 5px solid black;
    padding: 0px;
  }
}

#prev-next{
  .right{
    float: right;
  }
}

.post-form{
  input{
    max-width: 100%;
    width: 100%;
  }
  textarea{
    width: 100%;
    height: 15em;
  }
}

.align-right{
  display: block;
  text-align: right;
}