// All the necessary variables

$text-box-width: 48em;
$blog-font-family: 'Merriweather','Helvetica Neue', Helvetica, sans-serif !important;
$main-font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif !important;
