// All the necessary variables

$text_box_width: 48em;
$blog_font_family: 'Merriweather','Helvetica Neue', Helvetica, sans-serif !important;
$main_font_family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif !important;
$code_font_family: Courier, Monospace!important;
